body {
	background-color: black;
}

.container {
	background-color: white;
	width: 85%;
	margin: 5rem auto;
	padding: 2rem;
	border-radius: 35px;
}

.container h1 {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid gray;
}

.group {
	width: 80%;
	margin: 2rem auto;
}

.group h2 {
	text-align: left;
}

.group ul li {
	width: 60%;
	margin: 2rem auto;
	background-color: lightblue;
	border-radius: 5px;
}